/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

p {
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 0;
}







/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Container to center content */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}








.text-container {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    margin-top: 2%;
}
.left{
    justify-content: left;
    flex: 1;
    font-weight: bold;
}
.center{
    justify-content: center;
    flex: 1;
    text-align: center;
    font-weight: bold;
}
.right{
    justify-content: right;
    flex: 1;
    text-align: right;
    font-weight: bold;
}




li{
    margin-left: 2%;
}




/* Header styling */
header {
    background-color: #96E6B3;
    color: black;
    padding: 20px 0;
    text-align: center;
    
}





h2{
    margin-top: 2%;
}

/* Main section for the publications */
main {
    margin-top: 40px;
}



/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
